.regpg{
   
    display: flex;
    margin: 0px 550px 0px 550px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(243, 243, 243);
    border-radius: 15px;
    padding: 30px;
   
}

*{
    margin: 0px;
    padding: 0px; 
}

body{
    background: linear-gradient(120deg,#f8f1f1, #f0bbc9);
}
#namee{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background: white;
}

#phno{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background: white;
}

#username{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background: white;}

    #pwd{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 20px;
        width: 300px;
        padding: 5px;
        border-radius: 3px;
        background: white;
    }

    #pwd2{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 20px;
        width: 300px;
        padding: 5px;
        border-radius: 3px;
        background: white;
    }

    #regbut{
        /* background-color: bisque; */
        color: black;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid black;
    }

    #regbut:hover{
        transform: scale(1.2);
    }
    
    .h-main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin: 30px 10px 10px 10px;
    }